* {
    padding: 0;
    border: 0;
    margin: 0;
    text-align: center;
}

body {
    margin-top: 3em;
}

.puzzle-container {
    width: fit-content;
    margin: 2em auto;
}

.puzzle-row {
    width: fit-content;
}

#shuffle {
    padding: 1.5em 3em;
    border: 1px solid black;
}

#place-00, #place-01, #place-02, #place-03,
#place-04, #place-05, #place-06, #place-07,
#place-08, #place-09, #place-10, #place-11,
#place-12, #place-13, #place-14, #place-15 {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 0;
    background-color: lightgrey;
}

.class-00 {
    background-image: url('../images/slide-puzzle-2/00.png');
}
.class-01 {
    background-image: url('../images/slide-puzzle-2/01.png');
}
.class-02 {
    background-image: url('../images/slide-puzzle-2/02.png');
}
.class-03 {
    background-image: url('../images/slide-puzzle-2/03.png');
}
.class-04 {
    background-image: url('../images/slide-puzzle-2/04.png');
}
.class-05 {
    background-image: url('../images/slide-puzzle-2/05.png');
}
.class-06 {
    background-image: url('../images/slide-puzzle-2/06.png');
}
.class-07 {
    background-image: url('../images/slide-puzzle-2/07.png');
}
.class-08 {
    background-image: url('../images/slide-puzzle-2/08.png');
}
.class-09 {
    background-image: url('../images/slide-puzzle-2/09.png');
}
.class-10 {
    background-image: url('../images/slide-puzzle-2/10.png');
}
.class-11 {
    background-image: url('../images/slide-puzzle-2/11.png');
}
.class-12 {
    background-image: url('../images/slide-puzzle-2/12.png');
}
.class-13 {
    background-image: url('../images/slide-puzzle-2/13.png');
}
.class-14 {
    background-image: url('../images/slide-puzzle-2/14.png');
}

/*.class-15 {*/
/*background-image: url('images/slide-puzzle-2/15.png');*/
/*}*/