* {
    padding: 0;
    border: none;
    margin: 0;
}

@media screen {
    body {
        background-color: #f4f4f4;
        margin-top: 7em;
        margin-bottom: 7em;
    }

    nav {
        position: fixed;
        top: 0;
        z-index: 1;
        width: 100%;
        background-color: #d6c1ae;
        padding-top: 1.5em;
    }

    .centered {
        text-align: center;
    }

    nav>h1 {
        color: #a9a496;
        font-family: "Questrial", sans-serif;
        font-size: 2em;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        text-align: center;
        margin-bottom: 0.6em;
    }

    nav a:link, a:visited{
        color: #a9a496;
        text-decoration: none;
    }
    nav a:hover {
        color: #4f4a47;
        text-decoration: none;
    }

    article {
        background-color: #ffffff;

        border-radius: 0.8em;
        padding: 3em;
        border: 1px solid #ece3dd;
        margin: 2em;
    }

    h1 {
        margin-bottom: 1em;
        color: #a9a496;
        font-family: 'Questrial', sans-serif;
        text-transform: uppercase;
        font-size: 1.5em;
        letter-spacing: 0.2em;
        word-wrap: break-word;
    }

    p {
        font-family: 'Prompt', sans-serif;
        font-weight: 300;
        color: #4f4a47;
    }

    ul {
        width: auto;
        margin: 0 auto;
    }

    li {
        font-family: 'Prompt', sans-serif;
        font-weight: 300;

        color:#4f4a47;
        display: inline-block;
        border-radius: 0.5em;
        padding: 0.5em 1em;
        border: 1px solid #4f4a47;
        margin: 0.5em 0.5em;
    }

    .button {
        background-color: #f6ece1;
        padding: 1em;
        margin: 0 auto;

        color: #a9a496;
        font-family: "Questrial", sans-serif;
        text-align: center;
        font-size: 0.8em;
    }

    footer {
        position: fixed;
        bottom: 0;
        background-color: #ece3dd;
        width: 100%;
        padding: 1em 0;

        color: #a9a496;
        font-family: "Questrial", sans-serif;
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }

    .navlist {
        padding: 0.6em;
        margin: 0;
        border: 0;
        display: inline;
    }


    footer a:link, a:visited {
        color: #a9a496;
        text-decoration: none;
    }

    footer a:visited {
        color: #a9a496;
        text-decoration: none;
    }

    footer a:hover {
        color: #4f4a47;
        text-decoration: none;
    }

}
